.banner-principal p
  color: $color-sistema-texto

.bg_01
  background-image: url("../assets/curso/tema_1/img_2.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bg_02
  background: linear-gradient(180deg, rgba(246,246,246,1) 8%, rgba(255,255,255,1) 60%);

.bg_03
  background-image: url("../assets/curso/tema_2/img_1.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.bg_04
  background-color: #FCEFEF
  border-radius: 20px
  margin-top: -80px

.bg_5
  background-color: #FCEFEF
  border-radius: 50px
  margin-top: -129px

.bg_6
  background-color: #FCEFEF

.bg_7
  background-color: #FCEFEF
  border-radius: 20px

.bg_08
  background-image: url("../assets/curso/tema_2/img_24.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding-top: 20px
  padding-bottom: 20px

.bg_09
  background-color: #E8ECED

.titulo-principal__numero
  background-color: $color-acento-contenido  

.titulo-principal__numero span
  color: $white

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.z-i
  z-index: 1


.tarjeta--gris
  background-color: #E7E3EE !important

.linea-tiempo-d__item--selected  
  .linea-tiempo-d__item__content__slot
    background: linear-gradient(180deg, rgba(227,248,242,1) 0%, rgba(255,255,255,1) 60%) !important;
  .tarjeta--gris    
    background: linear-gradient(180deg, rgba(227,248,242,1) 0%, rgba(255,255,255,1) 60%) !important;

.cajon.color-primario 
  background-color: #E3F8F2

.tarjeta-flip.color-secundario .tarjeta-flip__img
  background-color: transparent

.tarjeta-flip.color-secundario .tarjeta-flip__contenido
  background-color: #FCEFEF

.bg_txt1
  color: #037A55

.p_top1
  margin-top: -331px

.p_top2
  margin-top: -130px


.anexo 
  margin-left: 32px
  padding: 9px !important
  padding-left: 21px !important
  background-color: #EB9595

.anexo__icono 
  left: 134px !important
  top: -10px

.anexo *
  color: #903F3F

.rig_ane
  right: -66px

.anexo:active, .anexo:focus, .anexo:hover
  background-color: #607B82
  h5 
    color: $white !important

.tabs-b__tab--active
  background-color: #E3F8F2 !important

.im_top
  margin-top: -28px

.im_top1
  margin-top: -96px


.p_top3
  margin-top: -54px

.p_top4
  margin-top: -40px

.hr1
  background-color:  #26CB99



    




  
